.tabs-wrapper {
  width: 100%;
  background-color: #F4F7F6;

}
.tabs-content {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border: 2px dimgrey solid;
  border-radius: 8px;


}

