<div class="statistic-result">
  <div class="result-wrapper">
    <div class="line-one">
      <div class="number">7</div>
      <div class="number">8</div>
      <div class="number">9</div>
      <div class="number">10</div>
    </div>
    <div class="line-two">
      <div class="number">4</div>
      <div class="number">5</div>
      <div class="number">6</div>
    </div>
    <div class="line-three">
      <div class="number">2</div>
      <div class="number">3</div>
    </div>
    <div class="line-four">
      <div class="number">1</div>
    </div>
  </div>
  <div class="result-value">
    <div class="date">20.07.2021</div>
    <div class="table">
      <div class="table-result">
        <div class="count-green">15</div>
        <div class="description">Throws</div>
      </div>
      <div class="table-result">
        <div class="count-green">8</div>
        <div class="description">Knocked</div>
      </div>
      <div class="table-result">
        <div class="count-yellow">55</div>
        <div class="description">%</div>
      </div>
    </div>


  </div>

</div>
