.statistic-result {
  width: 344px;
  height: 129px;
  display: flex;
  justify-content: center;
  background: #FCFFFE;
  border-radius: 8px;
  padding: 5px;
}



.result-wrapper {
  width: 121px;
  height: 117px;
  background: #F4F7F6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-right: 24px;

}
.line-one {
  display: flex;
  justify-content: center;
  padding: 2px;
}
.line-two {
  display: flex;
  justify-content: center;
  padding: 2px;
}
.line-three {
  display: flex;
  justify-content: center;
  padding: 2px;
}
.line-four {
  display: flex;
  justify-content: center;
  padding: 2px;
}
.number {
  width: 24px;
  height: 24px;
  background: #FCFFFE;
  border-radius: 2px;
  background: #FCFFFE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-value {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.table {
  display: flex;
}
.table-result {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: 42px;
  width: 62px;
  padding-right: 10px;
}

.date {
  width: 76px;
  height: 20px;
  font-family: Mont;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1F2922;
}

.count-green {
  width: 16px;
  height: 20px;
  font-family: Mont;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #6FCF97;
}
.count-yellow {
  width: 16px;
  height: 20px;
  font-family: Mont;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #F2C94C;
}

.description {
  width: 50px;
  height: 18px;
  left: 151px;
  top: 246px;
  font-family: Mont;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
  opacity: 0.5;
}
