<mat-toolbar color="primary" class="navbar">
  <div>Codevolution</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>

</mat-toolbar>




<span class="material-icons">
home
</span>
<span class="material-icons">
equalizer
</span>
<span class="material-icons">
equalizer
</span>
<span class="material-icons">
play_arrow
</span>
<span class="material-icons">
person
</span>
<span class="material-icons">
person_outline
</span>
<mat-icon color="primary">
    <span class="material-icons">
home
</span>
</mat-icon>
