<div class="container">
  <div class="welcome">
    <div class="frame">
      <h2>Choose your gender</h2>
      <div class="gender-wrapper">
        <button class="gender" [class.active]="!isActive" (click)="changeClass()">
          <div class="gender-content">Female</div>
        </button>

        <div class="gender" [class.active]="isActive" (click)="changeClass()">
          <div class="gender-content">Male</div>
        </div>

      </div>
    </div>

    <div class="ellipse-wrapper">
      <div class="ellipse-black"></div>
      <div class="ellipse-grey"></div>
      <div class="ellipse-grey"></div>
    </div>



  </div>

</div>
